[Desktop Entry]
Version=1.1
Name=Lights
Comment=Toggle Cryostat Ambilight
Icon=/home/pi/RasQberry/icons/RaspberryQiskitEarsTop.png
Type=Application
Categories=X-RasQberry
#Path=/home/pi/RasQberry/demos/bin/
Exec=sudo /home/pi/.local/bin/rq_light_desktop_amb.sh
Terminal=true
#X-KeepTerminal=true
Name[de_DE]=Cryostat Ambilight