[Desktop Entry]
Version=1.1
Name=Ambilights
Comment=Toggle Cryostat Ambilight
Icon=/home/pi/RasQberry/icons/RaspberryQiskitEarsTop.png
Type=Application
Categories=Demos;
Exec=sudo /home/pi/.local/bin/rq_light_desktop_amb.sh
Terminal=true
Name[de_DE]=Cryostat Ambilight