[Desktop Entry]
Version=1.1
Name=IBM Quantum Composer	
Comment=run the IBM Quantum Composer
Icon=/home/pi/RasQberry/icons/QiskitWithEars.png
Type=Application
Categories=X-RasQberry
#Path=/home/pi/RasQberry/demos/bin/
Exec=/home/pi/RasQberry/demos/bin/rq_composer.sh
Terminal=true
