[Desktop Entry]
Version=1.1
Name=Qiskit	
Comment=Show installed Qiskit packages
Icon=/home/pi/RasQberry/icons/RaspberryQiskitInside.png
Type=Application
Categories=X-RasQberry
Path=/home/pi/
Exec=lxterminal -e "pip3 list | grep qiskit; /bin/bash"
