[Desktop Entry]
Version=1.1
Name=Qoffee Maker (dockerhub)
Comment=Start Qoffee Maker (from dockerhub)
Icon=/home/pi/RasQberry/icons/QuoffeeMug_vector-s128.png
Type=Application
Categories=Name=QoffeeMaker;
Exec=lxterminal -e "cd /home/pi/Qoffee-Maker/ && docker pull ghcr.io/tbrodbeck/qoffee-maker && docker run -d --name qoffee --rm -itp 8887:8887 --env JUPYTER_TOKEN=super-secret-token --env-file .env ghcr.io/tbrodbeck/qoffee-maker && chromium-browser http://127.0.0.1:8887/?token=super-secret-token; docker stop $(docker ps -q --filter ancestor=qoffee ); /bin/bash"
Terminal=true