[Desktop Entry]
Version=1.1
Name=RasQ-LED
Comment=RasQ-LED Demo
Icon=/home/pi/RasQberry/icons/RaspberryQiskitEarsTop.png
Type=Application
Categories=X-RasQberry
Path=/home/pi/RasQberry/demos/bin/
Exec=RasQ-LED_desktop.sh
Terminal=true
#X-KeepTerminal=true
