[Desktop Entry]
Version=1.1
Name=BlochSphere Demo	
Comment=run the BlochSphere Demo
Icon=/home/pi/RasQberry/QiskitWithEars.png
Type=Application
Categories=X-RasQberry
Path=/home/pi/.local/bin/
Exec=rq_bloch_desktop.sh
#Exec=lxterminal -t "BlochSphere Demo" --working-directory=/home/pi/.local/bin -e ./rq_bloch_desktop.sh
Terminal=true
#X-KeepTerminal=true
