[Desktop Entry]
Version=1.1
Name=RasQ-LED
Comment=RasQ-LED Demo
Icon=/home/pi/RasQberry/RaspberryQiskitEarsTop.png
Type=Application
Categories=X-RasQberry
Path=/home/pi/.local/bin/
Exec=/home/pi/.local/bin/RasQ-LED_desktop.sh
Terminal=true
#X-KeepTerminal=true
