[Desktop Entry]
Version=1.1
Name=RasQberry Setup	
Comment=run rasqberrypi-config
Icon=/home/pi/RasQberry/Qiskit-in-Raspberry-logo.jpg
Type=Application
Path=/usr/local/bin
Exec=sudo rasqberrypi-config
Terminal=true
