[Desktop Entry]
Version=1.1
Name=RasQberry Setup	
Comment=run rasqberry-config
Icon=/home/pi/RasQberry/RaspberryQiskitInside.png
Type=Application
Categories=X-RasQberry
Path=/usr/local/bin
Exec=sudo rasqberry-config
Terminal=true
