# RasQberry Test Report

The tests documented below were conducted under the following conditions:

Hardware used
- Raspberry Pi 4
- SanDisk Extreme Pro 64GB microSDXC UHS-I V30 card

Software used
- Raspberry Pi OS (Legacy 32 bit) with desktop
- Raspberry Pi Imager 1.8.5

Settings
- Username: pi 
## Step 1: Preparing the Raspberry Pi 

1. Download and Install Raspberry Pi Imager from the (official website)[https://www.raspberrypi.com/software/]


